{% extends "base.twig" %}

{% block content %}
    <main class="container-fluid d-flex flex-column" >
        <div class="jumbotron bg-light">
            <h1 class="text-center">Aktivierung erfolgreich</h1>
            <p class="text-dark text-center">
                <a href="{{ webInfo.baseurl }}me"><button class="btn btn-fid">Jetzt anmelden</button></a>
            </p>
        </div>
    </main>
{% endblock %}
