<div class="text-center d-flex flex-column">
    <i class="far fa-check-circle text-success icon-lg"></i>
    <h5>Hallo {{ user.firstname }} {{ user.lastname }}</h5>
    <div class="btn-group">
        <button type="button" class="btn btn-outline-fid">Zum Profil</button>
        <button type="button" class="btn btn-fid">Zurück zur Seite</button>
    </div>
</div>