{% extends "base.twig" %}


{% block content %}
    <main class="container-fluid d-flex flex-column mt-5">
        <div class="jumbotron">
            Erfolgreich ausgeloggt
        </div>
    </main>



{% endblock %}