<div class="text-center d-flex flex-column">
    <i class="far fa-check-circle text-success icon-lg"></i>
    <h5>Es wurde ein Aktivierungslink an <span class="text-fid">{{ email }}</span> geschickt. Bitte bestätigen, um mit der Registrierung fortzufahren.</h5>
    <code>Statt auf eine E-Mail zu warten,<br><a href="{{ webInfo.baseurl }}confirm/{{ temp.registrationkey }}">hier</a> klicken</code>
</div>