{% extends "base.twig" %}


{% block content %}
    {% include "navbar.twig" %}


    <main class="container-fluid d-flex flex-column" >
        <div class="jumbotron bg-light">
            <h1 class="text-center">Seite nicht verfügbar</h1>
            <p class="text-dark text-center">
                Die aufgerufene URL existiert nicht oder nicht mehr verfügbar.
            </p>


        </div>



    </main>

{% endblock %}