{% extends "base.twig" %}

{% block content %}
    <main>
        <div class="jumbotron jumbotron-fluid mb-0 landing-page-img" style="background-image: url('https://www.cuncti.net/images/aristoteles-66rz55637e76.jpg')">

        </div>
        <hr style="height: 3px; margin-top: 0!important; padding-top: 0!important;">
        <div class="flex-column flex-lg-row d-lg-flex justify-content-lg-center text-white">
            <div class="card p-5 m-5 justify-content-center" style="width: 80vw!important;">
                <ul class="list-group justify-content-center list-group-horizontal-lg w-100" >


                    <li class="list-group-item bg-fid-secondary-slightly-brighter w-25">
                        <h2 class="text-center" target=".">Literatur</h2>
                        <ul class="list-group-flush m-0 p-0 text-dark collapse" style="width: 100%!important;">
                            <li class="list-group-item bg-light">Albertus Magnus</li>
                            <li class="list-group-item ">Anselm von Canterbury</li>
                            <li class="list-group-item bg-light">Averroes</li>
                            <li class="list-group-item ">Avicenna</li>
                            <li class="list-group-item bg-light">Böetius</li>
                            <li class="list-group-item ">Roger Bacon</li>
                            <li class="list-group-item bg-light">Thomas von Aquin</li>

                        </ul>
                    </li>

                    <li class="list-group-item bg-fid-secondary-slightly-brightest w-25">
                        <h2 class="text-center">Quellen</h2>
                        <ul class="list-group-flush m-0 p-0 text-dark" style="width: 100%!important;">
                            <li class="list-group-item bg-light">René Descartes</li>
                            <li class="list-group-item ">Thomas Hobbes</li>
                            <li class="list-group-item bg-light">John Locke</li>
                            <li class="list-group-item ">Giovanni Pico della Mirandola</li>
                            <li class="list-group-item bg-light">Niccolò di Bernardo dei Machiavelli</li>
                            <li class="list-group-item">Thomas Morus</li>
                            <li class="list-group-item bg-light">Johannes Kepler</li>


                        </ul>
                    </li>

                    <li class="list-group-item bg-fid-secondary-brighter w-25">
                        <h2 class="text-center">Editionen</h2>
                        <ul class="list-group-flush m-0 p-0 text-dark" style="width: 100%!important;">

                            <li class="list-group-item bg-light">Søren Aabye Kierkegaard</li>
                            <li class="list-group-item">Karl Marx</li>
                            <li class="list-group-item bg-light">Friedrich Nietzsche</li>
                            <li class="list-group-item">Arthur Schoppenhauer</li>
                            <li class="list-group-item bg-light">Ludwig Josef Johann Wittgenstein</li>

                        </ul>
                    </li>


                </ul>
            </div>


        </div>
    </main>
{% endblock %}
