<!DOCTYPE html>
<html {{ site.language_attributes }}>


    {% include 'html-header.twig' %}

    <body id="body_wrapper">
    {% include "navbar.twig" %}
        {% block content %}
            <div class="jumbotron jumbotron-fluid mb-0" style="background-image: url('http://localhost:8000/app/themes/fid-phil/assets/img/a_school.jpg'); background-position: center">
                <div class="container d-flex justify-content-center">
                    <div class="search_box">
                        <form method="get" action="/">
                            <div id="search_wrapper" class="input-group input-group-lg shadow-sm" >
                                <div class="input-group-prepend">
                                    <button type="submit" class="input-group-text bg-fid border-fid" >
                                        <i class="fas fa-search text-white"></i>
                                    </button>
                                </div>

                                <input id="freetext-input" type="text" name="freetext" class="form-control" placeholder="Suche..." required>
                                <!--div class="input-group-append d-md-none">
                                    <button  class="input-group-text bg-fid" data-toggle="modal" data-target="#filterModal">
                                        <i class="fas fa-filter text-white"></i>
                                    </button>
                                </div-->
                            </div>

                        </form>
                    </div>
                </div>
            </div>
            <hr style="height: 3px; margin-top: 0!important; padding-top: 0!important;">
            <div id="short_desc" class="container p-5">
                <div class="d-flex flex-column flex-md-row justify-content-md-around">
                    <div class="col-lg-3 mb-3">
                        <div class="card landing-card bg-transparent border-0 ">
                            <div class="card-header bg-transparent d-flex flex-column"><h3 class="align-self-center">1. Schritt</h3></div>
                            <div class="card-body text-center" style="font-size: 20px">Kostenlose Registrierung </div>
                        </div>
                    </div>

                    <div class="col-lg-3 mb-3">
                        <div class="card landing-card bg-transparent border-0" >
                            <div class="card-header bg-transparent d-flex flex-column"><h3 class="align-self-center">2. Schritt</h3></div>
                            <div class="card-body text-center" style="font-size: 20px">In über 1,5 Mio. Einträgen recherchieren</div>
                        </div>
                    </div>

                    <div class="col-lg-3 mb-3">
                        <div class="card landing-card bg-transparent border-0 ">
                            <div class="card-header bg-transparent d-flex flex-column"><h3 class="align-self-center">3. Schritt</h3></div>
                            <div class="card-body text-center" style="font-size: 20px"></div>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="height: 3px; margin-bottom: 0!important; padding-bottom: 0!important;">
            <div id="long_desc"  style="width: 100%">
                <div class="d-flex flex-column flex-md-row">
                    <div class="col-md-6 bg-light p-5" style="height: 50vh">
                        <h2 class="text-center">Fachinformationsdienst</h2>
                        <p style="font-size: 20px; text-align: justify ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="col-md-6"  style="height: 50vh; background-image: url('http://localhost:8000/app/themes/fid-phil/assets/img/book_reading.jpg'); background-position: center;  background-size: cover">

                    </div>
                </div>
                <div class="d-flex flex-column-reverse flex-md-row">
                    <div class="col-md-6 bg-warning" style="height: 50vh; background-image: url('http://localhost:8000/app/themes/fid-phil/assets/img/usb.jpg'); background-position: center; background-size: cover">

                    </div>
                    <div class="col-md-6 bg-light p-5" style="height: 50vh">
                        <h2 class="text-center">USB ist toll</h2>
                        <p style="font-size: 20px; text-align: justify ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>

                </div>

            </div>
            <hr style="height: 3px; margin-top: 0!important; padding-top: 0!important;">

        {% endblock %}
    <div class="mt-5"></div>
    {% include "footer.twig" %}
    </body>
</html>
