<!DOCTYPE html>
<html {{ site.language_attributes }}>


    {% include 'html-header.twig' %}

    <body id="body_wrapper">
    {% include "navbar.twig" %}
        {% block content %}
            <div class="jumbotron jumbotron-fluid mb-0" style="height: 400px!important; background-image: url('{{ webInfo.baeurl }}/app/themes/fid-phil/assets/img/a_school.jpg'); background-position: center">
                <div class="container" style="margin-top: 50px!important;">
                    <div class="card border-0">
                        <form method="get" action="/">
                            <div class="card-header p-0 border-0">
                                <div id="search_wrapper" class="input-group input-group-lg shadow-sm" >
                                    <div class="input-group-prepend">
                                        <button type="submit" class="input-group-text bg-fid border-fid" >
                                            <i class="fas fa-search text-white"></i>
                                        </button>
                                    </div>
                                    <input id="freetext-input" type="text" name="freetext" class="form-control" placeholder="Suche..." required>
                                </div>
                            </div>
                            <div id="extendedSearch" class="collapse ">
                                <div  class="card-body border-fid d-md-block d-none">
                                    <div class="d-flex justify-content-center" style="width: 100%">
                                        <div class="d-flex justify-content-between bg-white" style="height: 150px!important; width: 95%">
                                            <div class="card border-fid-secondary" style="width: 20%">
                                                <div class="card-header p-1 bg-white">
                                                    <h6 class="text-center">Suchbereich:</h6>
                                                </div>
                                                <div class="card-body p-1">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                                                        <label class="custom-control-label" for="customCheck">KUG/BVB</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                                                        <label class="custom-control-label" for="customCheck">Philosophers Index</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card border-fid-tertiary" style="width: 20%">
                                                <div class="card-header p-1 bg-white">
                                                    <h6 class="text-center">Zugriff:</h6>
                                                </div>
                                                <div class="card-body p-1">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                                                        <label class="custom-control-label" for="customCheck">Volltextzugriff</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                                                        <label class="custom-control-label" for="customCheck">kein Volltextzugriff</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                                                        <label class="custom-control-label" for="customCheck">beides</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card border-fid-secondary" style="width: 20%">
                                                <div class="card-header p-1 bg-white">
                                                    <h6 class="text-center">Medientyp:</h6>
                                                </div>
                                                <div class="card-body p-1">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                                                        <label class="custom-control-label" for="customCheck">Monografien</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                                                        <label class="custom-control-label" for="customCheck">Zeitungsartikel</label>
                                                    </div>
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" id="customCheck" name="example1">
                                                        <label class="custom-control-label" for="customCheck">Online</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="card border-fid-tertiary" style="width: 20%">
                                                <div class="card-header p-1 bg-white">
                                                    <h6 class="text-center">Erscheinungsjahr:</h6>
                                                </div>
                                                <div class="card-body p-1">
                                                    <div id="steps-slider"></div>
                                                    <input type="number" id="input-with-keypress-0">
                                                    <input type="number" id="input-with-keypress-1">
                                                </div>
                                                <script>
                                                    var stepsSlider = document.getElementById('steps-slider');
                                                    var input0 = document.getElementById('input-with-keypress-0');
                                                    var input1 = document.getElementById('input-with-keypress-1');
                                                    var inputs = [input0, input1];

                                                    noUiSlider.create(stepsSlider, {
                                                        start: [0, 2020],
                                                        connect: true,
                                                        tooltips: [true, wNumb({decimals: 0})],
                                                        range: {
                                                            'min': [0, 100],
                                                            '40%': [1900, 10],
                                                            '75%':[2010, 1],
                                                            'max': 2020
                                                        }
                                                    });

                                                    stepsSlider.noUiSlider.on('update', function (values, handle) {
                                                        inputs[handle].value = values[handle];
                                                    });
                                                </script>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    </div>
                    <div class="d-md-flex justify-content-end d-none bg-transparent" style="width: 95%">
                        <div class="align-self-end">
                            <button type="button" class="input-group-text bg-fid border-fid text-white" style="border-top-right-radius: 0!important; border-top-left-radius: 0!important;" data-toggle="collapse" data-target="#extendedSearch">
                                <small><i class="fas fa-cog"></i> Sucheinstellungen</small>
                            </button>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center d-md-none">
                        <button class="btn btn-fid" data-toggle="modal" data-target="#extendedSearchModal" style="border-top-right-radius: 0!important; border-top-left-radius: 0!important;"><i class="fas fa-sliders-h"></i> Erweiterte Suche</button>
                    </div>
                </div>
            </div>
            <hr style="height: 3px; margin-top: 0!important; padding-top: 0!important;">
            <div class="modal" id="extendedSearchModal">
                <div class="modal-dialog">
                    <div class="modal-content">

                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Modal Heading</h4>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            Modal body..
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>

                    </div>
                </div>
            </div>
            <div id="short_desc" class="container p-5">
                <div class="d-flex flex-column flex-md-row justify-content-md-around text-white">
                    <div class="col-lg-3 mb-3">
                        <div class="card landing-card bg-fid border-0 shadow">
                            <div class="card-header d-flex flex-column"><i class="fas fa-graduation-cap icon-fid align-self-center"></i><h3 class="align-self-center">Registrieren</h3></div>
                            <div class="card-body landing-tile-font">Registrieren und Zugang zu über 5.000.000 Monografien und 3.000.000 Zeitschriften zum Themenschwerpunkt Philosophie erhalten. Mitglieder von Fachgesellschaften können darüberhinaus Volltexte aus dem Philosopher's Index nutzen</div>
                        </div>
                    </div>

                    <div class="col-lg-3 mb-3">
                        <div class="card landing-card bg-fid-secondary border-0 shadow" >
                            <div class="card-header d-flex flex-column"><i class="fas fa-project-diagram align-self-center"></i><h3 class="align-self-center text-center">Kuration</h3></div>
                            <div class="card-body pt-0 landing-tile-font">Kuratierte Zugänge geben einen Überblick zu einzelnen Themen und AutorInnen</div>
                        </div>
                    </div>

                    <div class="col-lg-3 mb-3">
                        <div class="card landing-card bg-fid-tertiary border-0 shadow">
                            <div class="card-header d-flex flex-column"><i class="fas fa-align-justify align-self-center"></i><h3 class="align-self-center">Volltexte</h3></div>
                            <div class="card-body landing-tile-font">Die DigiPhiD werden ständig Monografien und Sammelbände retrodigitalisiert. Der Bestand soll bis 2022 auf 300.000 Seiten ausgebaut werden</div>
                        </div>
                    </div>
                </div>
            </div>
            <hr style="height: 3px; margin-bottom: 0!important; padding-bottom: 0!important;">
            <div id="long_desc"  style="width: 100%">
                <div class="d-flex flex-column flex-md-row">
                    <div class="col-md-6 bg-light p-5" style="height: 50vh">
                        <h2 class="text-center">Fachinformationsdienst</h2>
                        <p style="font-size: 20px; text-align: justify ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="col-md-6"  style="height: 50vh; background-image: url('{{ webInfo.baeurl }}app/themes/fid-phil/assets/img/book_reading.jpg'); background-position: center;  background-size: cover">

                    </div>
                </div>
                <div class="d-flex flex-column-reverse flex-md-row">
                    <div class="col-md-6 bg-warning" style="height: 50vh; background-image: url('{{ webInfo.baeurl }}app/themes/fid-phil/assets/img/usb.jpg'); background-position: center; background-size: cover">

                    </div>
                    <div class="col-md-6 bg-light p-5" style="height: 50vh">
                        <h2 class="text-center">USB ist toll</h2>
                        <p style="font-size: 20px; text-align: justify ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>

                </div>

            </div>
            <hr style="height: 3px; margin-top: 0!important; padding-top: 0!important;">

        {% endblock %}
    <div class="mt-5"></div>
    {% include "footer.twig" %}
    </body>
</html>
