<div class="sticky-top">
    <div class="jumbotron jumbotron-fluid pt-4 mb-0" style="background-image: url('{{ webInfo.baseurl }}app/themes/fid-phil/assets/img/a_school.jpg'); background-position: center; min-height: 50px!important; height: 80px">
        <div class="container d-flex justify-content-center" >
            <div class="search_box p-0" >
                <form hx-get="/search" hx-target="#body_wrapper" hx-swap="outerHTML" hx-push-url="true" hx-indicator="#spinner">
                    <div id="search_wrapper" class="input-group input-group-lg shadow-sm" >
                        <div class="input-group-prepend">
                            <button type="submit" class="input-group-text bg-fid border-fid">
                                <i class="fas fa-search text-white"></i>
                            </button>
                        </div>

                        <input id="freetext-input" type="text" name="freetext" class="form-control" placeholder="{% if data.params.freetext %}{{ data.params.freetext }}{% else %}Suche...{% endif %}" required>
                    </div>
                </form>
            </div>
        </div>

    </div>
    <hr style="height: 3px; margin-top: 0!important; padding-top: 0!important;">
</div>