@import "fid-phil._variables";
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: Piazzolla, serif;
}
h1 {
  font-family: Raleway, sans-serif;
}

hr {
  background: linear-gradient(to right, pink, $primary, $secondary, $tertiary, pink);
  padding: 0;
  margin: 0;
  height: 1.5px;
}
main {
  min-height: 100vh;
}
nav {
  font-family: Raleway, sans-serif;
}

::-webkit-scrollbar {
  background-color: rgba(128, 128, 128, 0.16);
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: rgba(81, 21, 0, 0.12);
}
::-webkit-scrollbar-thumb {
  background-color: $primary;
}

.animate__slideInRight{
  width: 88px!important;
  min-width: 88px!important;



}

.badge-fid {
  background-color: white;
  color: $primary;
  border: solid;
  border-width: 1px;
  border-color: $primary;
}

.bg-fid {
  background-color: $primary;
}

.bg-fid-slightly-brighter {
  background-color: lighten($primary, 5);
}

.bg-fid-slightly-brightest {
  background-color: lighten($primary, 10);
}

.bg-fid-secondary {
  background-color: $secondary;
}

.bg-fid-secondary-brighter {
  background-color: lighten($secondary, 20);
}

.bg-fid-secondary-brightest {
  background-color: lighten($secondary, 40);
}

.bg-fid-secondary-slightly-brighter {
  background-color: lighten($secondary, 5);
}

.bg-fid-secondary-slightly-brightest {
  background-color: lighten($secondary, 10);
}

.bg-fid-tertiary {
  background-color: $tertiary;
}
.bg-fid-tertiary-slightly-brighter {
  background-color: lighten($tertiary, 5);
}
.bg-fid-tertiary-slightly-brightest {
  background-color: lighten($tertiary, 10);
}


.border-fid {
  border-color: $primary!important;
}


.border-fid-secondary {
  border-color: $secondary!important;
}


.border-fid-tertiary {
  border-color: $tertiary!important;
}


.btn-fid {
  color: white;
  background-color: $primary;
  border-color: $primary;
}

.btn-fid:hover {
  color: white;
  background-color: lighten($primary, 15%);
  border-color: lighten($primary, 15%);
}
.btn-outline-fid {
  color: $primary;
  border-color: $primary;
}

.btn-outline-fid-secondary {
  color: $secondary;
  border-color: $secondary;
}

.btn-outline-fid-secondary-brighter {
  color: lighten($secondary, 40);
  border-color: lighten($secondary, 40);
}

.btn-outline-fid-secondary-brightest {
  color: lighten($secondary, 40);
  border-color: lighten($secondary, 40);
}

.disabled-cursor {
  cursor: not-allowed;
}

.facet-box{
  border-color: $primary;
  font-family: Raleway, sans-serif;
}
.facet-box:hover {

  border-width: 2px;
}

.facet-box-header {
  cursor: pointer;
}

.facet-entry-selected {
   border: solid 1px $primary;
   background-color: lighten($primary, 50);
}

.facet-entry-selected:hover {
  border: solid 1px $primary;
  background-color: lighten($primary, 25)!important;
}

.footer-logo-box {
  padding: 2px;
  width: 100%;
}


.home-card  {
  width: 30vh;
  height: 20vh;
  max-height: 20vh;
}

.icon-fid {
  font-size: 25px;
}

.icon-fid-md {
  font-size: 20px;
  padding-left: 2px;
  padding-right: 2px;
  position: relative;
  top: 35%;
}

.icon-lg {
  font-size: 16vh;
}

.landing-card {
  height: 300px!important;
  font-family: Raleway, sans-serif;
}

.landing-tile-font {
  font-size: 14px!important;
  text-align: center!important;
  font-family: Piazzolla, serif;

}

.list-group-facet-item-fid:hover {
  background-color: #f5f5f5;
  border-right: solid 2px $tertiary;
  border-left: solid 2px $tertiary;
  cursor: pointer;
}

.list-group-result-item-fid:hover{
  background-color: #f5f5f5;
  border-right: solid 3px $tertiary;
  cursor: pointer;
}

.nav-link-fid {
  color: $primary!important;

}
.nav-link-fid:hover {
  border-bottom: solid 1px $primary;
}

.nav-link-fid-secondary {
  color: $secondary!important;

}
.nav-link-fid-secondary:hover {
  border-bottom: solid 1px $secondary;
}

.nav-link-fid-tertiary {
  color: $tertiary!important;

}
.nav-link-fid-tertiary:hover {
  border-bottom: solid 1px $tertiary;
}

.noUi-connect {
  background-color: $secondary!important;
}

.opacity-100 {
  opacity: 1!important;
}
.opacity-50 {
  opacity: 0.5!important;
}



.pointer {
  cursor: pointer;
}

.result-content-box {
  min-width: 100%;
  height: 80px
}

.scrollbar-fid{
  overflow-y: scroll;
  scrollbar-color: $primary;
  scrollbar-width: 2px;

}

.search_box {
  //background-color: rgba(0, 0, 0, 0.4);
  font-family: Piazzolla, serif;
  padding: 5px;
  width:  75vw;
  border-radius: .25rem;
}

.search-box-sm {
  padding: 0 0 2vh 0;
}

.slide-element:hover {
  filter: brightness(80%);
}

.slide-menu {

}

.text-fid {
  color: $primary!important;
}

.text-fid-secondary {
  color: $secondary!important;
}

.text-fid-tertiary {
  color: $tertiary!important;
}

.under-search {
  width: 60vw;
}


.htmx-indicator{
  opacity:0;
  transition: opacity 500ms ease-in;
}
.htmx-request .htmx-indicator{
  opacity:1;

}
.htmx-request.htmx-indicator{
  opacity:1;

}



.cssload-loader-inner {
  bottom: 0;
  height: 83px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 138px;
  z-index: 2;
}

.cssload-cssload-loader-line-wrap-wrap {
  animation: cssload-spin 2300ms cubic-bezier(.175, .885, .32, 1.275) infinite;
  -o-animation: cssload-spin 2300ms cubic-bezier(.175, .885, .32, 1.275) infinite;
  -ms-animation: cssload-spin 2300ms cubic-bezier(.175, .885, .32, 1.275) infinite;
  -webkit-animation: cssload-spin 2300ms cubic-bezier(.175, .885, .32, 1.275) infinite;
  -moz-animation: cssload-spin 2300ms cubic-bezier(.175, .885, .32, 1.275) infinite;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 69px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  transform-origin: 50% 100%;
  -o-transform-origin: 50% 100%;
  -ms-transform-origin: 50% 100%;
  -webkit-transform-origin: 50% 100%;
  -moz-transform-origin: 50% 100%;
  width: 138px;
}
.cssload-loader-line-wrap {
  border: 6px solid transparent;
  border-radius: 100%;
  -o-border-radius: 100%;
  -ms-border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 138px;
  left: 0;
  margin: 0 auto;
  position: absolute;
  right: 0;
  top: 0;
  width: 138px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(1) { animation-delay: -57.5ms;
  -o-animation-delay: -57.5ms;
  -ms-animation-delay: -57.5ms;
  -webkit-animation-delay: -57.5ms;
  -moz-animation-delay: -57.5ms; }
.cssload-cssload-loader-line-wrap-wrap:nth-child(2) { animation-delay: -115ms;
  -o-animation-delay: -115ms;
  -ms-animation-delay: -115ms;
  -webkit-animation-delay: -115ms;
  -moz-animation-delay: -115ms; }
.cssload-cssload-loader-line-wrap-wrap:nth-child(3) { animation-delay: -172.5ms;
  -o-animation-delay: -172.5ms;
  -ms-animation-delay: -172.5ms;
  -webkit-animation-delay: -172.5ms;
  -moz-animation-delay: -172.5ms; }
.cssload-cssload-loader-line-wrap-wrap:nth-child(4) { animation-delay: -230ms;
  -o-animation-delay: -230ms;
  -ms-animation-delay: -230ms;
  -webkit-animation-delay: -230ms;
  -moz-animation-delay: -230ms; }
.cssload-cssload-loader-line-wrap-wrap:nth-child(5) { animation-delay: -287.5ms;
  -o-animation-delay: -287.5ms;
  -ms-animation-delay: -287.5ms;
  -webkit-animation-delay: -287.5ms;
  -moz-animation-delay: -287.5ms; }

.cssload-cssload-loader-line-wrap-wrap:nth-child(1) .cssload-loader-line-wrap {
  border-color: rgb(30,58,75);
  height: 124px;
  width: 124px;
  top: 10px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(2) .cssload-loader-line-wrap {
  border-color: rgb(56,90,113);
  height: 105px;
  width: 105px;
  top: 19px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(3) .cssload-loader-line-wrap {
  border-color: rgb(90,46,98);
  height: 85px;
  width: 85px;
  top: 29px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(4) .cssload-loader-line-wrap {
  border-color: rgb(56,90,113);
  height: 66px;
  width: 66px;
  top: 39px;
}
.cssload-cssload-loader-line-wrap-wrap:nth-child(5) .cssload-loader-line-wrap {
  border-color: rgb(30,58,75);
  height: 47px;
  width: 47px;
  top: 48px;
}




@keyframes cssload-spin {
  0%, 15% {
    transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-o-keyframes cssload-spin {
  0%, 15% {
    -o-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-ms-keyframes cssload-spin {
  0%, 15% {
    -ms-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes cssload-spin {
  0%, 15% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-moz-keyframes cssload-spin {
  0%, 15% {
    -moz-transform: rotate(0);
    transform: rotate(0);
  }
  100% {
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}




@media (max-width: 1920px) {
  .landing-page-img {
    height: 400px!important;
    background-image: url('../img/a_school.jpg');
    background-size:1920px;
    background-position: center;
    background-repeat: no-repeat
  }
}
@media (min-width: 1921px) {
  .landing-page-img {
    height: 400px!important;
    background-image: url('../img/a_school_xl.jpg');
    background-size:100%;
    background-position: center;
    background-repeat: no-repeat
  }
}

@media (max-width: 768px){
  .strong-fid {
    font-size: 12px;
  }

  .landing-card {
    height: 200px!important;
  }


  .welcome-box {
    font-size: 14px;
  }

}



